<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #006bb3;">
  <!-- Links -->
  <ul class="navbar-nav" >
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Employee List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Add Employee</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <br>&copy;2020 - Jose Teotonio - E-mail: teonett@gmail.com
</footer>