/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.header {
    background-color: #006bb3;
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: #006bb3;
    text-align: center;
    color: white;
    font-size: large;
}